<a href="https://colab.research.google.com/github/ayushchty/taxi_price_prediction/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,unix_timestamp,hour,dayofweek,dayofmonth,lit

In [3]:
spark = SparkSession.builder.appName('TaxiFarePrediction').getOrCreate()

df = spark.read.csv('sample.csv', header=True, inferSchema=True)

df.show(5)

+-------------------+-----------+-------------------+----------------+---------------+-----------------+----------------+---------------+
|                key|fare_amount|    pickup_datetime|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|passenger_count|
+-------------------+-----------+-------------------+----------------+---------------+-----------------+----------------+---------------+
|2011-01-24 18:05:00|        9.3|2011-01-24 18:05:00|      -73.983768|      40.738037|       -73.982185|       40.757298|              1|
|2013-04-23 20:57:00|        5.0|2013-04-23 20:57:00|      -73.967943|      40.799842|        -73.96482|       40.810153|              1|
|2011-01-09 03:01:00|       16.5|2011-01-09 03:01:00|      -73.983637|      40.760198|       -73.942912|       40.824983|              2|
|2010-04-07 04:15:00|        8.1|2010-04-07 04:15:00|      -74.002312|      40.733603|       -73.985807|       40.762793|              2|
|2013-11-05 16:53:00|      51.83|2013-11-05 16:53:00|      -73.863982|      40.769815|       -74.009212|       40.715652|              1|
+-------------------+-----------+-------------------+----------------+---------------+-----------------+----------------+---------------+
only showing top 5 rows

In [7]:
# df=df.filter(col('fare_amount')>0)&(col('pickup_longitude').isNotNull())&(col('pickup_latitude').isNotNull())&(col('dropoff_longitude').isNotNull())&(col('dropoff_latitude').isNotNull())

In [6]:
df = df.filter((col('fare_amount') > 0) & (col('pickup_longitude').isNotNull()) & (col('pickup_latitude').isNotNull()) & (col('dropoff_longitude').isNotNull()) & (col('dropoff_latitude').isNotNull()))

In [8]:
df = df.withColumn('pickup_datetime', unix_timestamp('pickup_datetime', 'yyyy-MM-dd HH:mm:ss').cast('timestamp'))
df = df.withColumn('hour', hour('pickup_datetime'))
df = df.withColumn('weekday', dayofweek('pickup_datetime'))

In [14]:
df.show()

+-------------------+-----------+-------------------+------------------+----------------+------------------+----------------+---------------+----+-------+
|                key|fare_amount|    pickup_datetime|  pickup_longitude| pickup_latitude| dropoff_longitude|dropoff_latitude|passenger_count|hour|weekday|
+-------------------+-----------+-------------------+------------------+----------------+------------------+----------------+---------------+----+-------+
|2011-01-24 18:05:00|        9.3|2011-01-24 18:05:00|        -73.983768|       40.738037|        -73.982185|       40.757298|              1|  18|      2|
|2013-04-23 20:57:00|        5.0|2013-04-23 20:57:00|        -73.967943|       40.799842|         -73.96482|       40.810153|              1|  20|      3|
|2011-01-09 03:01:00|       16.5|2011-01-09 03:01:00|        -73.983637|       40.760198|        -73.942912|       40.824983|              2|   3|      1|
|2010-04-07 04:15:00|        8.1|2010-04-07 04:15:00|        -74.002312|       40.733603|        -73.985807|       40.762793|              2|   4|      4|
|2013-11-05 16:53:00|      51.83|2013-11-05 16:53:00|        -73.863982|       40.769815|        -74.009212|       40.715652|              1|  16|      3|
|2012-09-22 08:55:00|        6.0|2012-09-22 08:55:00|        -73.981315|       40.737235|        -73.995363|       40.727147|              1|   8|      7|
|2014-07-02 11:13:00|        8.5|2014-07-02 11:13:00|         -73.99502|       40.760252|         -73.99167|       40.750097|              1|  11|      4|
|2015-03-02 18:24:00|        6.5|2015-03-02 18:24:00|-73.98355865478516|40.7229118347168|-73.98355865478516|40.7229118347168|              1|  18|      2|
|2012-10-25 09:54:00|        6.0|2012-10-25 09:54:00|        -73.988803|       40.742032|        -73.991405|       40.729857|              1|   9|      5|
|2011-07-21 13:19:22|       20.1|2011-07-21 13:19:22|        -73.977673|        40.73402|        -73.956222|       40.803914|              1|  13|      5|
|2012-01-26 11:33:26|        6.9|2012-01-26 11:33:26|        -73.959988|       40.773705|        -73.946316|       40.772626|              1|  11|      5|
|2014-10-12 08:03:21|       10.5|2014-10-12 08:03:21|        -73.954558|       40.774135|        -73.987196|       40.761023|              1|   8|      1|
|2009-08-01 07:36:00|       12.1|2009-08-01 07:36:00|        -73.948088|        40.78994|        -73.937205|       40.827587|              4|   7|      7|
|2011-02-22 07:28:00|        3.7|2011-02-22 07:28:00|        -73.976793|       40.756102|        -73.977407|       40.762525|              1|   7|      3|
|2009-01-17 14:19:00|        7.7|2009-01-17 14:19:00|        -73.988357|       40.756992|         -73.99368|       40.753683|              5|  14|      7|
|2013-08-20 04:58:00|      30.33|2013-08-20 04:58:00|        -73.955457|       40.819867|         -73.86548|       40.770825|              5|   4|      3|
|2014-03-19 22:50:00|        5.5|2014-03-19 22:50:00|         -73.98308|       40.744015|        -73.996143|       40.737145|              1|  22|      4|
|2014-06-12 22:57:00|        7.0|2014-06-12 22:57:00|        -73.969208|       40.676828|        -73.956772|        40.65964|              1|  22|      5|
|2014-10-29 07:35:00|        9.0|2014-10-29 07:35:00|        -73.972208|        40.78133|        -73.951677|       40.769692|              2|   7|      4|
|2011-06-13 10:17:04|        5.7|2011-06-13 10:17:04|        -73.976535|       40.763928|        -73.968834|       40.768972|              1|  10|      2|
+-------------------+-----------+-------------------+------------------+----------------+------------------+----------------+---------------+----+-------+
only showing top 20 rows

In [11]:
import math

In [16]:
# haversine formula to calculate distance in kilometers
def haver(lon1, lat1, lon2, lat2):
    R = 6371
    phi1 = math.radians(lat1)
    phi2 = math.radians(lat2)
    delta_phi = math.radians(lat2 - lat1)
    delta_lambda = math.radians(lon2 - lon1)

    a = math.sin(delta_phi / 2) ** 2 + math.cos(phi1) * math.cos(phi2) * math.sin(delta_lambda / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    return R * c

In [15]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType

In [17]:
haversine_udf = udf(haver, DoubleType())

In [18]:
df = df.withColumn('distance', haversine_udf(col('pickup_longitude'), col('pickup_latitude'),
                                             col('dropoff_longitude'), col('dropoff_latitude')))

In [20]:
df.show()

+-------------------+-----------+-------------------+------------------+----------------+------------------+----------------+---------------+----+-------+------------------+
|                key|fare_amount|    pickup_datetime|  pickup_longitude| pickup_latitude| dropoff_longitude|dropoff_latitude|passenger_count|hour|weekday|          distance|
+-------------------+-----------+-------------------+------------------+----------------+------------------+----------------+---------------+----+-------+------------------+
|2011-01-24 18:05:00|        9.3|2011-01-24 18:05:00|        -73.983768|       40.738037|        -73.982185|       40.757298|              1|  18|      2|2.1458729965365486|
|2013-04-23 20:57:00|        5.0|2013-04-23 20:57:00|        -73.967943|       40.799842|         -73.96482|       40.810153|              1|  20|      3|1.1762763983398539|
|2011-01-09 03:01:00|       16.5|2011-01-09 03:01:00|        -73.983637|       40.760198|        -73.942912|       40.824983|              2|   3|      1|7.9779644587435055|
|2010-04-07 04:15:00|        8.1|2010-04-07 04:15:00|        -74.002312|       40.733603|        -73.985807|       40.762793|              2|   4|      4|3.5310383190799874|
|2013-11-05 16:53:00|      51.83|2013-11-05 16:53:00|        -73.863982|       40.769815|        -74.009212|       40.715652|              1|  16|      3|13.637107668453401|
|2012-09-22 08:55:00|        6.0|2012-09-22 08:55:00|        -73.981315|       40.737235|        -73.995363|       40.727147|              1|   8|      7| 1.630765168570371|
|2014-07-02 11:13:00|        8.5|2014-07-02 11:13:00|         -73.99502|       40.760252|         -73.99167|       40.750097|              1|  11|      4|1.1639069312374977|
|2015-03-02 18:24:00|        6.5|2015-03-02 18:24:00|-73.98355865478516|40.7229118347168|-73.98355865478516|40.7229118347168|              1|  18|      2|               0.0|
|2012-10-25 09:54:00|        6.0|2012-10-25 09:54:00|        -73.988803|       40.742032|        -73.991405|       40.729857|              1|   9|      5|1.3714344021708167|
|2011-07-21 13:19:22|       20.1|2011-07-21 13:19:22|        -73.977673|        40.73402|        -73.956222|       40.803914|              1|  13|      5| 7.979039944127258|
|2012-01-26 11:33:26|        6.9|2012-01-26 11:33:26|        -73.959988|       40.773705|        -73.946316|       40.772626|              1|  11|      5|1.1575269824778318|
|2014-10-12 08:03:21|       10.5|2014-10-12 08:03:21|        -73.954558|       40.774135|        -73.987196|       40.761023|              1|   8|      1| 3.111366333773797|
|2009-08-01 07:36:00|       12.1|2009-08-01 07:36:00|        -73.948088|        40.78994|        -73.937205|       40.827587|              4|   7|      7| 4.285189823947375|
|2011-02-22 07:28:00|        3.7|2011-02-22 07:28:00|        -73.976793|       40.756102|        -73.977407|       40.762525|              1|   7|      3|0.7160748509260078|
|2009-01-17 14:19:00|        7.7|2009-01-17 14:19:00|        -73.988357|       40.756992|         -73.99368|       40.753683|              5|  14|      7|0.5800078638226034|
|2013-08-20 04:58:00|      30.33|2013-08-20 04:58:00|        -73.955457|       40.819867|         -73.86548|       40.770825|              5|   4|      3| 9.333111020080008|
|2014-03-19 22:50:00|        5.5|2014-03-19 22:50:00|         -73.98308|       40.744015|        -73.996143|       40.737145|              1|  22|      4|1.3396883396318264|
|2014-06-12 22:57:00|        7.0|2014-06-12 22:57:00|        -73.969208|       40.676828|        -73.956772|        40.65964|              1|  22|      5|  2.18010773135245|
|2014-10-29 07:35:00|        9.0|2014-10-29 07:35:00|        -73.972208|        40.78133|        -73.951677|       40.769692|              2|   7|      4|2.1595040807696018|
|2011-06-13 10:17:04|        5.7|2011-06-13 10:17:04|        -73.976535|       40.763928|        -73.968834|       40.768972|              1|  10|      2|0.8574328968603462|
+-------------------+-----------+-------------------+------------------+----------------+------------------+----------------+---------------+----+-------+------------------+
only showing top 20 rows

In [23]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|summary|       fare_amount|  pickup_longitude|   pickup_latitude| dropoff_longitude|  dropoff_latitude|   passenger_count|              hour|           weekday|          distance|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|  count|             99992|             99992|             99992|             99992|             99992|             99992|             99992|             99992|             99992|
|   mean|11.315218717497261|-72.57109926737286|39.934360387990374|-72.52166899547261| 39.93337016533233|1.6895751660132812|13.524651972157773|4.1243299463957115|19.366049747204563|
| stddev| 9.666784394358563|11.420298436830718| 6.516786680334995|15.139879574813945|7.0940829992023176| 1.311311896548885| 6.526736257475255|1.9926315899641032| 365.1029446869968|
|    min|              0.01|      -1329.480383|         -764.5646|           -735.05|      -1160.217295|                 0|                 0|                 1|               0.0|
|    max|             332.0|         40.786837|         52.521408|       3382.125693|         73.961092|                 6|                23|                 7| 8675.056848776103|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+

In [24]:
df.printSchema()

root
 |-- key: timestamp (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- weekday: integer (nullable = true)
 |-- distance: double (nullable = true)

In [26]:
df.dtypes

[('key', 'timestamp'),
 ('fare_amount', 'double'),
 ('pickup_datetime', 'timestamp'),
 ('pickup_longitude', 'double'),
 ('pickup_latitude', 'double'),
 ('dropoff_longitude', 'double'),
 ('dropoff_latitude', 'double'),
 ('passenger_count', 'int'),
 ('hour', 'int'),
 ('weekday', 'int'),
 ('distance', 'double')]

In [31]:
df.distinct().count()

99992

In [32]:
df.count()

99992

In [33]:
df = df.withColumn('distance', haversine_udf(col('pickup_longitude'), col('pickup_latitude'),
                                             col('dropoff_longitude'), col('dropoff_latitude')))

In [34]:
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator

In [36]:
assembler = VectorAssembler(inputCols=['hour', 'weekday', 'distance', 'passenger_count'], outputCol='features')
df = assembler.transform(df)

In [37]:
train_data, test_data = df.randomSplit([0.8, 0.2], seed=123)

rf = RandomForestRegressor(featuresCol='features', labelCol='fare_amount')
model = rf.fit(train_data)

In [38]:
predictions = model.transform(test_data)

evaluator = RegressionEvaluator(labelCol='fare_amount', predictionCol='prediction', metricName='rmse')
rmse = evaluator.evaluate(predictions)

In [39]:
rmse

5.229298620718952

AttributeError: 'DataFrame' object has no attribute 'accuracy'

SyntaxError: invalid syntax (<ipython-input-41-f188d5ac1197>, line 1)